/* variables */
:root {
    --viewport-scale-value: 0.555;
    /*--viewport-scale-value: 1;*/

    --change-milieu-transition-ease : ease-in-out;
    --change-milieu-transition-duration : 500ms;

}

/*********** Reset and Setup ***********/

html, body {
    height:100%;
    font-family: "Degular Variable";
    user-select:none;
}
#viewport,
#gui-top,
#gui-bottom
{
    transform-origin:top left;
    transform:scale(var(--viewport-scale-value));
}

/*********** Viewport ***********/

#viewport {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    background: #313438;
    /*overflow:hidden;*/
}
#viewport-scroll {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    transition:transform var(--change-milieu-transition-duration) var(--change-milieu-transition-ease),
               filter 2s;
    will-change: transform;
}
.temperature-cold #viewport-scroll {
    filter:brightness(1.15) saturate(0.7);
}
body[data-milieu="1"] #viewport-scroll {
    transform:translateX(0);
}
body[data-milieu="2"] #viewport-scroll {
    transform:translateX(-3840px);
}
body[data-milieu="3"] #viewport-scroll {
    transform:translateX(-7680px);
}
#viewport-scroll .bg,
#viewport-scroll .bg-sky,
#viewport-scroll .bg-sky-rain {
    position: absolute;
    top: 0;
    left: 0;
    transition: 2s;
    pointer-events: none;
    white-space: nowrap;
    display: flex;
    align-items: start;
}
#viewport-scroll .bg.bg-cold {
    opacity:0;
}
.temperature-cold #viewport-scroll .bg-cold {
    opacity:1;
}
.temperature-hot #viewport-scroll .bg-hot {
    opacity:1;
}
#viewport-scroll .bg-sky-rain {
    opacity:0;
}
.raining.raining-low #viewport-scroll .bg-sky-rain {
    opacity:.3;
}
.raining.raining-high #viewport-scroll .bg-sky-rain {
    opacity:1;
}
.raining.raining-low #viewport-scroll .bg {
    filter: brightness(0.9);
}
.raining.raining-high #viewport-scroll .bg,
.raining.raining-high #viewport-scroll .amenagement-image {
    filter: brightness(0.8);
}

body.focus #viewport-scroll {
/*    filter: grayscale(.9) brightness(1.15);*/
/*    filter: brightness(1.15);*/
}
/*#focus-overlay {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width: calc(100% / 0.55);
    height: calc(100% / 0.55);
    background: #d3e4e9;
    opacity:0;
    pointer-events: none;
    transition:.2s;
}*/
#focus-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: calc(100% / 0.55);
    height: calc(100% / 0.55);
    background: #d4ebf2;
    opacity: 0;
    pointer-events: none;
    transition:opacity .5s;
}
#focus-overlay.visible {
    opacity:.7;
    pointer-events: all;
}
#focus-container {
    position:absolute;
    z-index:2;
}
body[data-milieu="2"] #focus-container {
    transform:translateX(-3840px);
}
body[data-milieu="3"] #focus-container {
    transform:translateX(-7680px);
}

#nappe-phreatique-empty,
#nappe-phreatique {
    position:absolute;
    bottom: 0;
    left:0;
    pointer-events: none;
    display:flex;
}
#nappe-phreatique {
    opacity:0;
}
#nappe-phreatique-empty img {
    width:3840px;
    height:auto;
}

/*********** Amenagements ***********/

.amenagement .amenagement-image {
    transition: 2s;
}
.amenagement .amenagement-image img{
    position: absolute;
    pointer-events: none;
}

.amenagement .amenagement-image .image-active,
.amenagement .amenagement-image .image-focus {
    opacity:0;
}
.milieu .amenagement.active .amenagement-image .image-active {
    opacity:1;
}
#focus-container .amenagement.active .amenagement-image .image-focus {
    opacity:1;
}
#focus-container .amenagement.focus:not(.active) .image-inactive {
    opacity:0;
}

#focus-container .amenagement.focus:not(.active) .image-focus.animate {
    opacity:1;
    animation: blinking-amenagement-image 1.8s ease-in-out infinite;
}

@keyframes blinking-amenagement-image {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

.amenagement .amenagement-image .image-inactive {
    display: block;
}
.amenagement.active .amenagement-image .image-inactive {
    display: none;
}

.amenagement-ui {
    position:absolute;
    gap: 4px;
    transform: translateY(-132px);
    z-index: 1;
}

.point-info .amenagement-ui {
    transform: translateY(-144px)
                translateX(-50%);
}

.bulle-amenagement {
    background-image: url("img/UI/bulle_amenagement.png");
    height: 161px;
    aspect-ratio: 1;
}

.point-info .bulle-amenagement {
    background-image: url("img/UI/bulle_point_info.png");
    height: 152px;
    filter: saturate(0.8);
}

.politique-gestion .bulle-amenagement {
    background-image: url("img/UI/bulle_politique_gestion.png");
    height: 168px;
}

.amenagement.focus .bulle-amenagement,
.amenagement .bulle-amenagement:active {
    background-image: url("img/UI/bulle_amenagement_black.png");
}
.amenagement.point-info.focus .bulle-amenagement,
.amenagement.point-info .bulle-amenagement:active {
    background-image: url("img/UI/bulle_point_info_black.png");
}
.amenagement.politique-gestion.focus .bulle-amenagement,
.amenagement.politique-gestion .bulle-amenagement:active {
    background-image: url("img/UI/bulle_politique_gestion_black.png");
}

.amenagement.active .bulle-amenagement {
    background-image: url("img/UI/bulle_amenagement_green.png");
}
.amenagement.politique-gestion.active .bulle-amenagement {
    background-image: url("img/UI/bulle_politique_gestion_green.png");
}

.amenagement .fiche-amenagement {
    width: 840px;
    height: auto;
    position: absolute;
    top: -20px;
    left: 100%;
    border-radius: 16px;
    background: linear-gradient(0deg, #3E5B5B 92.5%, #273D3D 100%);
    padding-top: 40px;
    transition: opacity .3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.amenagement.point-info .fiche-amenagement {
    background:none;
    padding-top:0;
}

.amenagement-ui.top .fiche-amenagement {
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.amenagement-ui.left .fiche-amenagement {
    right: 100%;
    left: auto;
}
.amenagement-ui.higher .fiche-amenagement {
    top: -240px;
}

.amenagement.active .fiche-amenagement {
    background: linear-gradient(360deg, #3EC46D 92%, #5FD388 100%);
}

#focus-container .amenagement.focus .fiche-amenagement {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.fiche-amenagement .fiche-amenagement-content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    border-radius: 16px;
    background-color: #DFEDE8;
    padding: 30px;
}
.fiche-amenagement-content .amenagement-name {
    font-size: 39px;
    font-weight: 700;
    color: #273D3D;
    text-align: center;
    text-transform: uppercase;
}
.fiche-amenagement-content .amenagement-description {
    font-size: 28px;
    font-weight: 400;
    overflow-y: auto;
    line-height: 1.4;
    max-height: 553px;
    padding-right: 30px;
}
.amenagement .fiche-amenagement-content .amenagement-effects {
    display:flex;
    flex-wrap:wrap;
    gap:100px;
}
.amenagement .fiche-amenagement-content .amenagement-effects .amenagement-effects-inner {
    display:flex;
    flex-direction:column;
    gap:10px;
}
.amenagement .fiche-amenagement-content .amenagement-effects .amenagement-effect-item {
    padding-left:40px;
    font-size: 24px;
    text-transform:uppercase;
}
.fiche-amenagement-content .toggle-button {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    background: linear-gradient(180deg, #D4D4D4 0%, #C7C7C7 100%);
    color: #DFEDE8;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
    width:100%;
}

.amenagement .toggle-button .toggle-off-text,
.amenagement .toggle-button .toggle-on-text {
    display: none;
}
.amenagement:not(.active) .toggle-button .toggle-on-text{
    display: block;
}
.amenagement.active .toggle-button .toggle-off-text{
    display: block;
}


.amenagement:not(.active) .toggle-button{
    background: linear-gradient(180deg, #5FD388 0%, #3EC46D 100%);
}
.amenagement.active .toggle-button{
    background: linear-gradient(180deg, #e5d169 0%, #d1b739 100%);
}


#rain {
    position: fixed;
    top:0;
    left:0;
    width:calc(100vw / var(--viewport-scale-value));
    height:calc(100vh / var(--viewport-scale-value));
    object-fit: cover;
    mix-blend-mode: screen;
    filter: saturate(0.75) hue-rotate(288deg);
    mask: url(img/rain-mask2.png);
    mask-size:11520px 2160px;
    mask-repeat:no-repeat;
    opacity:0;
    pointer-events: none;
    will-change:mask-position;
    transition:mask-position var(--change-milieu-transition-duration) var(--change-milieu-transition-ease),
               opacity 2s ease-in;
}
body[data-milieu="1"] #rain {
    mask-position: 0px 0px;
}
body[data-milieu="2"] #rain {
    mask-position: -3840px 0px;
}
body[data-milieu="3"] #rain {
    mask-position: -7680px 0px;
}
.raining-low #rain {
    opacity:.45;
}
.raining-high #rain {
    opacity:1;
}

#milieux .point-info {
    position:absolute;
    background:yellow;
}

/*********** GUI ***********/

#gui {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/
}
#gui .gui-elt {
    background:#273D3D;
    border-radius:8px;
    padding:24px;

    text-transform:uppercase;
    font-weight:bold;
    font-size:24px;
    color:#fff;
}
#gui .gui-label {
    margin-bottom:10px;
}
#gui #gui-bottom {
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    justify-content: center;
    display:flex;
    /*transform: scale(1.15);*/
    transform-origin:center bottom;
}
#gui #gui-bottom #gui-nav {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#gui #gui-bottom #nav {
    position:relative;
}
#gui #gui-bottom #nav #nav-bg {
    width:975px;
}
#gui #gui-bottom #nav #nav-bg {
    height:calc(975px * 0.1875);
    background:#fff;
    background-image:url(img/fond-nav.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left bottom;
    border-radius:inherit;
    /*opacity:.4;*/
}
#gui #gui-bottom #nav:before,
#gui #gui-bottom #nav:after {
    content:'';
    background:#273D3D;
    opacity:.7;
    position:absolute;
    top:0;
    bottom:0;
    will-change:width;
    transition:width var(--change-milieu-transition-duration) var(--change-milieu-transition-ease);
}
#gui #gui-bottom #nav:before {
    left:0;
}
#gui #gui-bottom #nav:after {
    right:0;
}
body[data-milieu="1"] #gui #gui-bottom #nav:before {
    width:0px;
}
body[data-milieu="2"] #gui #gui-bottom #nav:before {
    width:325px;
}
body[data-milieu="3"] #gui #gui-bottom #nav:before {
    width:650px;
}

body[data-milieu="1"] #gui #gui-bottom #nav:after {
    width:650px;
}
body[data-milieu="2"] #gui #gui-bottom #nav:after {
    width:325px;
}
body[data-milieu="3"] #gui #gui-bottom #nav:after {
    width:0px;
}
#gui #gui-bottom .gui-label {
    text-align: center;
    position:relative;
    top:-5px;
}
#gui #gui-bottom  #gui-temperature,
#gui #gui-bottom  #gui-rain {
    align-self: end;
}
#gui #gui-bottom  #gui-temperature {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#gui #gui-bottom  #gui-rain {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}
#gui #gui-bottom .gui-btns {
    display:flex;
    gap:30px;
}
#gui #gui-bottom .gui-btn {
    width:104px;
    height:104px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
}
#gui #gui-bottom #gui-temperature .gui-btn {
    width:171px;
}
#gui #gui-bottom #gui-temperature .gui-btn svg {
    position: relative;
    left: -3px;
}
#gui #gui-bottom .gui-btn.active,
#gui #gui-bottom .gui-btn:active {
    background:#fff;
}
#gui #gui-bottom .gui-btn path {
    fill:#DFEDE8;
}
#gui #gui-bottom .gui-btn:active path,
#gui #gui-bottom .gui-btn.active path {
    fill:#273D3D;
}
#gui #gui-bottom #gui-temperature .gui-temperature-cold.active .temperature-indicator {
    fill:#5DCCE2;
}
#gui #gui-bottom #gui-temperature .gui-temperature-normal.active .temperature-indicator {
    fill:#5FD388;
}
#gui #gui-bottom #gui-temperature .gui-temperature-hot.active .temperature-indicator {
    fill:#FE6363;
}

#gui #gui-top {
    position:absolute;
    width:517px;
    top:15px;
    left:15px;
    /*transform: scale(1.15);*/
    /*transform-origin: top left;*/
}
#gui #gui-top .gui-elt {
    margin-bottom:15px;
}
#gui #gui-top .gui-effect {
    position:relative;
    margin-bottom:24px;
}
#gui #gui-top .gui-effect:last-child {
    margin-bottom:0;
}
#gui #gui-top .gui-effect .gui-effect-bar-container {
    display:flex;
    gap:12px;
}
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar {
    flex-grow:1;
    height:32px;
    position:relative;
    background:url(img/effect-bar-bg.svg);
}/*
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar:before,
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar:after {
    content:'';
    position:absolute;
    width:24px;
    height:32px;
    background:#CEEFF5;
    border-radius:50%;
}
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar:before {
    left:0;
}
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar:after {
    right:0;
}
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar .gui-effect-bar-bg {
    position:absolute;
    top:0;
    left:10px;
    right:10px;
    bottom:0;
    background:#CEEFF5;
}*/
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar .gui-effect-bar-progress {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:50%;
    background: linear-gradient(90deg, rgba(123,226,159,1) 0%, rgba(173,237,196,1) 100%);
    clip-path:url(#gui-effect-bar-clip);
}
#gui #gui-top #gui-effects-score .gui-effect .gui-effect-bar {
    position:relative;
    flex-grow:1;
}
#gui #gui-top #gui-effects-score .gui-effect .gui-effect-bar .gui-effect-bar-bg {
    width:100%;
}
#gui #gui-top #gui-effects-score .gui-effect .gui-effect-bar .gui-effect-bar-score {
    position:absolute;
    top:12px;
    left:0;
    transform: translateX(23px);
}
#gui #gui-top #gui-effects-progress .gui-effect .gui-effect-bar .gui-effect-bar-progress,
#gui #gui-top #gui-effects-score .gui-effect .gui-effect-bar .gui-effect-bar-score {
    transition:all .3s;
}
#gui #gui-top .gui-effect .gui-effect-more {
    width:32px;
    height:32px;
    border-radius:50%;
    background:#395e62;
    font-size:28px;
    display:flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-weight:650;
    opacity:0.35;
    pointer-events: none;
    transition:all .3s;
}
#gui #gui-top .gui-effect .gui-effect-more:active {
    color:#395e62;
    background: #fff;
}
#gui #gui-top .gui-effect .gui-effect-more.active {
    opacity:1;
    pointer-events: all;
}
#gui #gui-top #gui-effects-score .gui-effect .gui-effect-more {
    margin-top:-8px;
}
#gui #gui-top #gui-effect-more-info {
    position:absolute;
    left: 100%;
    margin-left:24px;
    margin-top:15px;
    background:#DFEDE8;
    color:#273D3D;
    opacity:0;
    pointer-events: none;
    transition:.2s cubic-bezier(0.99,-0.28, 0, 0.77);
}
#gui #gui-top #gui-effect-more-info.visible {
    opacity:1;
}
#gui #gui-top #gui-effect-more-info:before {
    content:'';
    position:absolute;
    top:18px;
    left:-16px;
    width:26px;
    height:35px;
    background:url(img/caret-white.png) no-repeat;
}
#gui #gui-top #gui-effect-more-info .gui-effect-detail {
    display:flex;
    flex-direction: column;
    gap:18px;
}
#gui #gui-top #gui-effect-more-info .gui-effect-detail .gui-effect-detail-item {
    font-weight:400;
    padding-left:40px;
    white-space: nowrap;
}
#gui #gui-top #gui-effect-more-info .gui-effect-detail-item.positive,
.amenagement .amenagement-effects .amenagement-effect-item.positive {
    background:url(img/effect-up.png) no-repeat left center;
}
#gui #gui-top #gui-effect-more-info .gui-effect-detail-item.negative,
.amenagement .amenagement-effects .amenagement-effect-item.negative {
    background:url(img/effect-down.png) no-repeat left center;
}

.amenagement:not(.active) .amenagement-effects .amenagement-effect-item .effect-label{
    opacity: 0.5;
}
.amenagement:not(.active) .amenagement-effects .amenagement-effect-item {
    filter: grayscale(1);
}

/*********** Animation Effects ***********/

.effect-indicator {
    position: absolute;
    pointer-events: none;
    opacity:0;
    visibility: hidden;
    transition:transform 2s ease-in-out, opacity 1s ease-in-out;
}

.effect-indicator.effect-indicator-evaporation {
    width: 200px;
    height: 200px;
    transform: scale(0.8);
    mix-blend-mode: hard-light;
    transform-origin: center bottom;
    /*overflow:hidden;*/
}
.effect-indicator.effect-indicator-evaporation .effect-indicator-img {
    background: url(img/degrade-evaporation.png) repeat-y;
    background-size: 120%;
    animation: fleche-evaporation 4s infinite linear reverse;
    clip-path: url(#fleche-evaporation);
    width:100%;
    height:100%;
}
.effect-indicator.effect-indicator-infiltration {
    width: 200px;
    height: 200px;
    transform: scale(0.8);
    transform-origin: center top;
}
.effect-indicator.effect-indicator-infiltration .effect-indicator-img {
    background: url(img/degrade-infiltration.png) repeat-y;
    background-size: 120%;
    animation: fleche-evaporation 4s infinite linear;
    clip-path: url(#fleche-infiltration);
    width:100%;
    height:100%;
}
.amenagement.active .effect-indicator.active-indicator.visible,
.amenagement:not(.active) .effect-indicator.inactive-indicator.visible{
    opacity:1;
    visibility: visible;
}

@keyframes fleche-evaporation {
    0% {
        background-position-y:0px;
    }
    100% {
        background-position-y:1000px;
    }
}

@keyframes fleche-infiltration {
    0% {
        background-position-y:0px;
    }
    100% {
        background-position-y:1000px;
    }
}