html, body {
    height:100%;
    font-family:Degular Variable;
    user-select:none;
}
#viewport,
#gui-top,
#gui-bottom
{
    transform-origin:top left;
    transform:scale(0.555);
}
#viewport {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    background: #313438;
    /*overflow:hidden;*/
}
#viewport-scroll {
    position:absolute;
    top:0;
    left:0;
    height:100%;
}
#viewport-scroll .bg {
    /*height:100%;*/
    /*object-fit: contain;*/
    /*object-position: left;*/
    position:absolute;
    top:0;
    left:0;
}
#milieux .milieu {
    position:absolute;
    top:0;
}
#milieux .amenagement {
    position:absolute;
    background:red;
}
#milieux .amenagement .bulle-amenagement {
    position: absolute;
    background-image: url("img/UI/bulle_amenagement.png");
    height: 161px;
    aspect-ratio: 1;
    left: -24px;
    bottom: -13px;
}
#milieux .amenagement .bulle-amenagement.active {
    background-image: url("img/UI/bulle_amenagement_green.png");
}


#milieux .point-info {
    position:absolute;
    background:yellow;
}

#gui {
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
    /*right:0;*/
    /*bottom:0;*/

    text-transform:uppercase;
    font-weight:bold;
    font-size:24px;
    color:#fff;
}
#gui .gui-elt {
    background:#273D3D;
    border-radius:8px;
    padding:24px;
}
#gui #gui-bottom {
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    justify-content: center;
    display:flex;
    transform-origin:center bottom;
}
#gui #gui-bottom #nav {
    position:relative;
}
#gui #gui-bottom #nav #nav-bg {
    width:976px;
}
#gui #gui-bottom #nav #nav-bg,
#gui #gui-bottom #nav #nav-current {
    height:calc(976px * 0.1875);
    background:#fff;
    background-image:url(img/bg.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left bottom;
    border-radius:inherit;
    opacity:.4;
}
#gui #gui-bottom #nav #nav-current {
    position:absolute;
    top:0;
    left:0;
    width:33.3333%;
    opacity:1;
}
#gui #gui-top {
    position:absolute;
    width:472px;
    top:15px;
    left:15px;
}
#gui #gui-top .gui-elt {
    margin-bottom:15px;
}
#gui #gui-top .gui-effect {
    position:relative;
    margin-bottom:24px;
}
#gui #gui-top .gui-effect:last-child {
    margin-bottom:0;
}
#gui #gui-top .gui-effect .gui-effect-label {
    margin-bottom:10px;
}
#gui #gui-effects1 .gui-effect .gui-effect-bar {
    height:32px;
    position:relative;
    background:url(img/effect-bar-bg.svg);
}/*
#gui #gui-effects1 .gui-effect .gui-effect-bar:before,
#gui #gui-effects1 .gui-effect .gui-effect-bar:after {
    content:'';
    position:absolute;
    width:24px;
    height:32px;
    background:#CEEFF5;
    border-radius:50%;
}
#gui #gui-effects1 .gui-effect .gui-effect-bar:before {
    left:0;
}
#gui #gui-effects1 .gui-effect .gui-effect-bar:after {
    right:0;
}
#gui #gui-effects1 .gui-effect .gui-effect-bar .gui-effect-bar-bg {
    position:absolute;
    top:0;
    left:10px;
    right:10px;
    bottom:0;
    background:#CEEFF5;
}*/
#gui #gui-effects1 .gui-effect .gui-effect-bar .gui-effect-bar-progress {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:50%;
    background: linear-gradient(90deg, rgba(123,226,159,1) 0%, rgba(173,237,196,1) 100%);
    clip-path:url(#gui-effect-bar-clip);
}
#gui #gui-effects2 .gui-effect .gui-effect-bar-bg {
    width:100%;
}
#gui #gui-effects2 .gui-effect .gui-effect-bar-progress {
    position:absolute;
    left:46%;
    top:44px;
}